

        <h2><%= @project.title %></h2>
        <div class="wrapper">
          <img src="<%= @project.preview %>" alt="">
          <span class="cat">&#128571;</span>
        </div>

        <form action="/likes"  method="post">
          <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
          <input type="hidden" name="user_id" value="<%= session[:user_id]%>">
          <input type="hidden" name="project_id" value="<%= @project.id %>">
        <span class="meow">  <%= @project.likes.count%> </span>
        <button>like</button>
        </form>

        <form action="/comments" method="post">
            <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
            <input type="hidden" name="user_id" value="<%= session[:user_id]%>">
            <input type="hidden" name="project_id" value="<%= @project.id %>">
            <textarea name="body" cols="30" rows="10"></textarea>
          <button>post comment</button>
        </form>


      <% @comments.each do |comment|%>
      <p><%= comment.user.email %>:</p>
      <p><%= comment.body %></p>
      <% end %>

  <script>
    var liked = document.querySelector('.cat');


      liked.addEventListener('click',function(event) {
        var project = event.target.closest('body');
        var meow = project.querySelector('.meow');
        meow.textContent = Number(meow.textContent) + 1;
    });



  </script>
